body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.result-grid{
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(42, 40, 40);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.delete-btn{
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 19, 2);
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
}

